.reset-password-title{
    color:#202124;
    font-family:"Roboto",sans-serif ;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}

.reset-password-title-bottom{
    color:#202124;
    font-family:"Roboto",sans-serif ;
    font-size:16px;
    font: weight 400px;letter-spacing: 0.1px;
    line-height: 1.5;
    margin-top: -1em;
}